

ion-checkbox {
    --border-radius:6px;
    --size:28px;
    border-color: white;
    --border-color: white;
     --checkmark-color:#313131;
}
.red-highlighter ion-checkbox,
.red-highlighter{
    /* --background:#FFCAB2; */
    --background-checked:#FFCAB2;
    --border-color-checked:#FFCAB2;
   
}

.orange-highlighter ion-checkbox {
 
     --background-checked:#FFEBBE;
    --border-color-checked:#FFEBBE;
}

.yellow-highlighter ion-checkbox{
    --background-checked:#FDFFC9;
    --border-color-checked:#FDFFC9;
}

.green-highlighter ion-checkbox{
     --background-checked:#E2FECC;
    --border-color-checked:#E2FECC;
}

.blue-highlighter ion-checkbox{
     --background-checked:#D3F3FF;
    --border-color-checked:#D3F3FF;
}

.pink-highlighter ion-checkbox{
    --background-checked:#FDE0DC;
    --border-color-checked:#FDE0DC;
}